<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Spy</title>
</head>
<body>
Welcome to RCTF！

Story:
This is a world where there are only cats and dogs and they are at war with each other.
You, as a cat spy, want to infiltrate into the dog camp.
But the dogs have installed a simple cat identifier and you can only change one pixel to avoid being identified.

Can you attack the image in /static/start.png? you can only change one pixel!
The image format must be 60 x 60
Good luck!
</body>
</html>